html,body,div,span,
applet,object,iframe,code,
h1,h2,h3,h4,h5,h6,p2,blockquote,pre,
a,abbr,acronym,address,big,cite,
del,dfn,font,img,ins,kbd,q,s,samp,
small,strike,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
  content: "";
}
p {
  margin-top: 20px;
}

p span {
  display: block;
  padding-top: 8px;
}

h1 {
  width: 100%;
  padding: 80px 0 30px 0;
}

h2 {
  text-align: center;
  padding: 40px 0 0 0;
  width: 75%;
  margin: 0 auto;
}

body {
  background: #131925;
  font-family: Arial;
}

textarea {
  width: 100%;
  height: 100%;
  border-style: hidden;
}

#toolbar {
  height: 8%;
  text-align: right;
}

#outer-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  margin: 2%;
}

ol, .content-description {
  font-size: 16px;
  padding: 30px;
  margin: 0 auto;
}

ul.navigation {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  float: left;
  width: 10%;
}

ul.navigation li {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  background-color: #2B477D;
  border: 1px solid #415F9D;
  height: 40px;
  margin: 0 0 4px 0;
  position: relative;
  z-index: 1;
}

ul.navigation li.selected {
  z-index: 3;
}

ul.navigation li.shadow {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  border: none;
  background: none;
  z-index: 2;
  -webkit-box-shadow: #111 0 -2px 6px;
  -moz-box-shadow: #111 0 -2px 6px;
  box-shadow: #111 0 -2px 6px;
}

ul.navigation li a:link, ul.navigation li a:visited {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  outline: none;
  float: left;
  background: #2B477D;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
}

ul.navigation li a:hover {
  background-color: #5a87dd;
}

ul.navigation li.selected a:link, ul.navigation li.selected a:visited {
  color: #2B477D;
  border: solid 1px #fff;
  -webkit-transition: background-color 0.2s linear;
  background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
  background-color: #f2f2f2;
}

#content {
  width: 90%;
  background: #f2f2f2;
  padding: 0;
  position: relative;
  float: left;
  height: 92%;
}

pre { 
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
