<div id="outer-wrapper">
  <div id="toolbar">
    <button id="add-buffer-button">Add buffer</button>
    <button id="compile-button">Compile!</button>
  </div>
  <ul id="buffer-switcher" class="navigation">
    <li class="shadow"></li>
  </ul>
  <div id="content"></div>
</div>
<script src="asset/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="asset/js/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="asset/js/ace/mode-java.js" type="text/javascript" charset="utf-8"></script>
