<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>CommonVM Facade Proof of Concept</title>

    <link rel="stylesheet" href="asset/css/main.css" />

    <script type="text/javascript">
    VM = {};
    </script>
    <script type="text/javascript" src="asset/js/prototype-min.js"></script>
    <script type="text/javascript" src="app/VM.js"></script>
    <script type="text/javascript" src="app/Context.js"></script>
    <script type="text/javascript" src="asset/js/VMTest.js"></script>
  </head>
  <body>
    {{{yield}}}
  </body>
</html>
