html,body,div,span,
applet,object,iframe,code,
h1,h2,h3,h4,h5,h6,p2,blockquote,pre,
a,abbr,acronym,address,big,cite,
del,dfn,font,img,ins,kbd,q,s,samp,
small,strike,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
  content: "";
}
p {
  margin-top: 20px;
}

p span {
  display: block;
  padding-top: 8px;
}

h1 {
  width: 100%;
  padding: 80px 0 30px 0;
}

h2 {
  text-align: center;
  padding: 40px 0 0 0;
  width: 75%;
  margin: 0 auto;
}

body {
  background: #131925;
  font-family: Arial;
}

textarea {
  width: 100%;
  height: 100%;
  border-style: hidden;
}

#toolbar {
  height: 8%;
  text-align: right;
}

#outer-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  margin: 2%;
}

ol, .content-description {
  font-size: 16px;
  padding: 30px;
  margin: 0 auto;
}

#editor {
  width: 100%;
  height: 92%;
}
